@model ThreeAmigosWebsite.Models.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}


<div class="col-md-4">
    <h3>Edit Details</h3>
    <p>
        <i class="glyphicon glyphicon-envelope"></i>
    </p>

    <form asp-action="UpdateProfile" method="post">

        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.EmailAddress"></label>
            <input asp-for="@Model.EmailAddress" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
